*{
    color: white;
}

button{
    display: grid;
    align-items: center;
    margin: 5px 0px 0px 0px;
    border: none;
    color: white;
    background-color: #06c;
    height: 35px;
    width: 93px;
    font-size: 18px;
    border-radius: 53px;
    transition: transform 1s;
    transform: translateX(0) scale(1);
    cursor: pointer;
}

.back{
    align-items: center;
    margin: 5px 0px 0px 25px;
    border: none;
    color: white;
    background-color: rgb(226, 19, 19);
    height: 40px;
    width: 140px;
    font-size: 18px;
    border-radius: 53px;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    cursor: pointer;
}

.kart{
    align-items: center;
    margin: 5px 0px 0px 25px;
    border: none;
    color: white;
    background-color: rgb(26, 158, 59);
    height: 40px;
    width: 140px;
    font-size: 18px;
    border-radius: 53px;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    cursor: pointer;
}

p{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 900;
    font-family: sans-serif;
}